# Cargo build
**/target

# Cargo config
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# Proofs
**/proof-with-pis.json
**/proof-with-io.json
**/proof-with-pis.bin

# Env
.env

# Ignore examples pdf files
lib/*.pdf

# Ignore hyled-data
script/hyled-data